@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .categoryNav:hover > .childNav {
        @apply transition-all duration-300 w-full
    }




}

body {
    @apply bg-zinc-50;
}


/* slideInAnimation.css */
.slide-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.slide-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}

.slide-exit {
  opacity: 1;
  transform: translateX(0);
}

.slide-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 500ms, transform 500ms;
}
